*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

.default-spacing{
    width: 70%;
    margin: 0 auto;
}

header{
    background-color: #add8e6;
    height: 50px;
    padding: 10px;
}

.header{
    padding:10px 0;
}

nav{
    display: flex;
    text-align: center;
    background-color:#daa520;

}

.twenty{
    width: 20%;
    border: 1px solid black;
}

.sixty{
    width: 60%;
    border: 1px solid black;
}
/* prima pagina */
.blue{
    background-color: #00008b;
    padding: 20px 50px;
}

.square-pink{
    background-color: #ee82ee;
    width: 70%;
    margin: 30px auto;
    /* debug */
    height: 400px;
}
/* seconda pagina */
.white{
    display: flex;
    background-color: white;
    padding: 20px 30px;
}

.sky-left{
    width: 60%;
    background-color: #1e90ff;
    /* debug */
    height: 400px;
}

.pink-right{
    width: 40%;
    background-color: #ffc0cb;
    /* debug */
    height: 400px;
}

.grey{
    display: flex;
    background-color: #d3d3d3;
    padding: 20px 30px;
}

.sky-right{
    width: 60%;
    background-color: #1e90ff;
    /* debug */
    height: 400px;
}

.pink-left{
    width: 40%;
    background-color: #ffc0cb;
    /* debug */
    height: 400px;
}

.square-green{
    background-color: #228b22;
    width: 70%;
    margin: 30px auto;
    /* debug */
    height: 400px;
}

.flex{
    display: flex;
    padding: 20px 30px;
}

.pink{
    background-color: #f08080;
    width: 40%;
    /* debug */
    height: 400px;
}

.column{
    background-color: #1DB2B3;
    width: 15%;
    border: 1px solid black;
    /* debug */
    height: 400px;
}

footer > div{
    background-color:black;
}

hr{
    border: 2px solid white;
}

.bottom-footer{
    display: flex;
    justify-content: space-between;
    background-color: #1DB2B3;
    /* debug */
    height: 50px;
}

button{
    background-color: #ffc0cb;
}
